/* FEATURES */

.features {
    padding: 94px 0;
}

.features__list {
    display: flex;
}

.features__item + .features__item {
    margin-left: 30px;
}

.features__item {
    width: 270px; 

    &::before {
        content: '';
        display: block;
        height: 120px;
        background-color: var(--accent-bg-color);
        border-radius: 4px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-size: 70px 70px;
        background-position: center;
    }
}

@include generateIcons($featuresIcons);

.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14;
}

.features__text {
    margin: 0;
    line-height: 1.71;
}

