.btn {
    min-width: 200px;
    padding: 10px 15px;
    display: inline-block;
    color: var(--main-light-color);
    background-color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--main-light-color);
    fill: currentColor;

    transition: color 250ms var(--standart-cubic);
}

.close-btn:hover,
.close-btn:focus {
    color: var(--accent-color);
}

.button-list {
    margin-top: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.button-item +  .button-item {
    margin-left: 8px;
}

.portfolio-button {
    cursor: pointer;
    padding: 6px 22px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
    background-color: var(--accent-bg-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--standart-cubic), color 250ms var(--standart-cubic), box-shadow 250ms var(--standart-cubic);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ========== end buttons ========== */

.modal-button {
    display: block;
    margin: 0 auto;
}

.modal-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  ???? фокус не = выбранное состояние? */

.checkbox:focus + .agreement-text::before {
    /* transform: scale(1.2); */
    outline: 2px solid var(--accent-color);
} 

.checkbox:checked + .agreement-text::before {
    background-image: url(../images/checkbox.svg);
    background-size: contain;
    background-origin: border-box;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
