/* header contacts */

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-item + .contacts-item  {
    margin-left: 50px;
}

.contacts-item > .link:hover,
.contacts-item > .link:focus {
    color: var(--accent-color);
}

.icon-contacts {
    display: inline-block;
    margin-right: 10px;
}